.login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    padding: 24px;

    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}

.login-form-header .header-icon {
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin: auto;

    border-radius: 50%;
    background-color: rgb(225, 0, 80);
    overflow: hidden;

    svg {
        display: inline-block;

        width: 100%;
        height: 65%;

        fill: #fff;
    }
}

.login-form-header .header-title {
    margin: 15px 0;

    font-size: 22px;
}

.login-form-wrapper .button {
    width: 100%;

    margin-top: 24px;
}
