.single-store-item {
    padding: 15px;

    position: relative;

    border-bottom: 1px solid rgba(224, 224, 224, 1);

    &:hover {
        .item-name {
            color: #2196f3;
        }
    }
}

.single-store-item a {
    display: flex;

    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

.single-store-item .item-photo {
    flex: 1 1 25%;

    max-width: 25%;
}

.single-store-item .item-photo img {
    max-width: 100%;
}

.single-store-item .item-data {
    padding: 10px 0 10px 30px;
}

.single-store-item .item-name {
    margin-bottom: 15px;

    font-size: 22px;
    font-weight: bold;

    transition: color .2s;
}

.single-store-item .item-price {
    position: absolute;
    top: 15px;
    right: 15px;

    font-size: 18px;
    font-weight: bold;
    color: #c02b2b;
}

.single-store-item .item-details li {
    display: inline-block;

    margin-right: 10px;

    font-size: 16px;
    line-height: 20px;
}

.single-store-item .item-details .item-detail-name {
    margin-right: 5px;

    font-weight: bold;
}
