.offer-details-header {
  padding: 25px 15px 0;
  font-size: 18px;
  line-height: 28px;
}

.offer-details {
  padding: 15px;
}

.offer-details li {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
}

.offer-details .detail-name {
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.offer-details .detail-name {
  font-weight: bold;
  font-size: 15px;
}
