.app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;

  height: 64px;
}

.app-header a {
  text-decoration: none;
}

.app-header .side-wrapper {
  width: 240px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.app-header .main-content {
  flex: 1;

  background-color: #2196f3;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

  display: flex;
  align-items: center;
  padding: 10px 25px;

  h1 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }
}

.app-header .buttons-group {
  margin-left: auto;

  .button {
    &:hover {
      background-color: #c02b2b;
    }
  }
}

.app-header .button-home {
  background-color: #06ad30;
  width: 140px;

  &:hover {
    background-color: darken(#06ad30, 5);
  }
}
