.app-header {
    display: flex;

    height: 64px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.app-header a {
    text-decoration: none;
}

.app-header .side-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 240px;

    border-bottom: 1px solid rgba(0, 0, 0, .12);
    background-color: #fff;
}

.app-header .main-content {
    display: flex;
    flex: 1;
    align-items: center;

    padding: 10px 25px;

    background-color: #2196f3;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

    h1 {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
}

.app-header .buttons-group {
    margin-left: auto;

    .button {
        &:hover {
            background-color: #c02b2b;
        }
    }
}

.app-header .button-home {
    width: 140px;

    background-color: #06ad30;

    &:hover {
        background-color: darken(#06ad30, 5);
    }
}
