.button {
    user-select: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 64px;
    min-height: 36px;
    padding: 0;
    padding: 8px 16px;

    position: relative;
    margin: 0;
    vertical-align: middle;

    font-size: .875rem;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: .02857em;
    text-transform: uppercase;

    border: 0;
    border-radius: 0;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms,box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0ms,border 250ms cubic-bezier(.4, 0, .2, 1) 0ms;
}

.button.button-primary {
    color: #fff;

    background-color: #2196f3;

    &:hover {
        background-color: #1976d2;
    }
}
