$headerHeight: 64px;

.app-wrapper {
    display: flex;

    padding-top: $headerHeight;
}

.app-sidebar {
    width: 240px;

    background-color: #fff;
}

.app-content {
    flex-grow: 1;

    height: calc(100vh - #{$headerHeight});
    max-width: calc(100% - 240px);

    overflow: auto;
}
