.admin-add-client-page {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100%;
    padding: 25px 0;
}

.admin-add-client-page .form-wrapper {
    width: 40%;
}

.admin-add-client-page .form-wrapper .button {
    width: 100%;
    min-height: 46px;

    margin-top: 25px;

    font-weight: bold;
}
