$activeBgColor: #2196f3;

.dropdown-with-search {
    position: relative;
    margin-top: 35px;

    color: rgba(0, 0, 0, .87);

    border: 1px solid rgba(0, 0, 0, .42);
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &.active {
        border-color: $activeBgColor;

        .dropdown-items-wrapper {
            z-index: 99;

            border-color: $activeBgColor;
            opacity: 1;
            visibility: visible;
        }
    }
}

.dropdown-with-search .dropdown-label {
    position: absolute;
    top: 0;
    transform: translateY(-140%);

    color: rgba(0, 0, 0, .54);
}

.dropdown-with-search .dropdown-active-item {
    display: flex;
    align-items: center;

    height: 46px;
    padding: 0 10px;

    &.active {
        font-weight: bold;
        color: #fff;

        background-color: $activeBgColor;
    }
}

.dropdown-with-search .dropdown-items-wrapper {
    width: calc(100% + 2px);

    position: absolute;
    z-index: -99;
    top: 100%;
    left: -1px;

    border: 1px solid rgba(0, 0, 0, .42);
    border-top: none;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;

    transition: all .2s;
}

.dropdown-with-search .dropdown-search input {
    width: 100%;
    height: 56px;
    padding: 0 10px;

    font-size: 16px;
    color: rgba(0, 0, 0, .87);

    border: none;
    border-top: 1px solid rgba(0, 0, 0, .42);
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    outline: none;
}

.dropdown-with-search .dropdown-items {
    max-height: 225px;

    overflow-y: auto;
}

.dropdown-with-search .dropdown-items li {
    padding: 20px 10px;

    transition: all .2s;

    &:hover {
        font-weight: bold;
        color: #fff;

        background-color: $activeBgColor;
    }
}

.dropdown-with-search .no-results {
    display: inline-block;

    padding: 20px 10px;
}
