$activeBgColor: #2196f3;

.admin-page-sidebar-nav a {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

.admin-page-sidebar-nav .nav-item a {
    display: block;

    padding: 40px 25px;

    font-size: 18px;
    line-height: 22px;

    border-bottom: 1px solid rgba(0, 0, 0, .12);
    cursor: pointer;

    transition: all .15s;

    &:hover {
        color: #fff;

        background-color: $activeBgColor;
    }
}

.admin-page-sidebar-nav .nav-item.active a {
    font-size: 19px;
    font-weight: bold;
    color: #fff;

    background-color: $activeBgColor;
}
