$activeBgColor: #2196f3;

.admin-page-sidebar-nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.admin-page-sidebar-nav .nav-item a {
  padding: 40px 25px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 18px;
  line-height: 22px;
  transition: all .15s;
  display: block;

  &:hover {
    background-color: $activeBgColor;
    color: #fff;
  }
}

.admin-page-sidebar-nav .nav-item.active a {
  background-color: $activeBgColor;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}
